<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-warning" type="button"><%= link_to "Main Menu", books_path, :class => "text-white" %></button>
    <button class="btn btn-info" type="button"><%= link_to "Users Menu", users_path, :class => "text-white" %></button>
  </form>
</nav>

<div class="container">
  <br>
  <h1 class="text-danger">Books: </h1>
  <br>
  <% @books.each do |book| %>
  <p class="text-danger"><%= link_to book.name, book_path(book), :class => "text-info" %></p>
  <% end %>
  <br>
  <button type="button" class="btn btn-danger"><%= link_to "Add a New Book", new_book_path, :class => "text-white" %></button>
</div>
